<nav id="easy_seo-breadcrumbs" style="--bs-breadcrumb-divider: '{{ easy_seo_breadcrumb.separator }}';" aria-label="breadcrumb">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="{{ easy_seo_breadcrumb.class }}">
        <li itemprop="itemListElement" class="{{ easy_seo_breadcrumb.item_class }}" aria-current="page" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ path('sylius_shop_homepage') }}" class="{{ easy_seo_breadcrumb.link_class }}">
                <span itemprop="name">{{ 'sylius.ui.home'|trans }}</span>
            </a>
        </li>

        <li itemprop="itemListElement" class="{{ easy_seo_breadcrumb.item_class }}" aria-current="page" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{{ path('easy_shop_account_dashboard') }}" class="{{ easy_seo_breadcrumb.link_class }}">
                <span itemprop="name">{{ 'sylius.ui.my_account'|trans }}</span>
            </a>
        </li>

        <li itemprop="itemListElement" class="{{ easy_seo_breadcrumb.item_class }} {{ easy_seo_breadcrumb.current_class }}" aria-current="page" itemscope itemtype="http://schema.org/ListItem">
            <span itemprop="item" class="{{ easy_seo_breadcrumb.link_class }}">
                <span itemprop="name">{{ 'sylius.ui.order_history'|trans }}</span>
            </span>
        </li>
    </ol>
</nav>
