<div class="card mb-3" {{ sylius_test_html_attribute('payment-item') }}>
    <div class="row g-0 align-items-center">
        <div class="col-md-2 text-center">
            <div class="ui radio checkbox" {{ sylius_test_html_attribute('payment-method-checkbox') }}>
                {{ form_widget(form, sylius_test_form_attribute('payment-method-select')) }}
            </div>
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{ form_label(form, null, {'label_attr': {'data-test-payment-method-label': ''}}) }}</h5>
                {% if method.description is not null %}
                    <p class="card-text">{{ method.description }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
