{# templates/admin/business_stats/index.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title promotion.name ~ ' - ' ~ 'sylius.ui.new_promotion_coupon'|trans  %}

{% block content_title %}
    {%- apply spaceless -%}
        {{ promotion.name }}
        <small class="d-block">{{ 'sylius.ui.new_promotion_coupon'|trans }}</small>
    {%- endapply -%}
{% endblock %}

{% block page_actions %}
    <button onclick="document.forms['{{ form.vars.full_name }}'].submit()" class="btn btn-primary">{{ 'sylius.ui.create'|trans }}</button>
{% endblock %}

{% block page_content %}
    {% form_theme form '@EasyAdmin/crud/form_theme.html.twig' %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-12">
            {{ form_row(form.code) }}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            {{ form_row(form.usageLimit) }}
        </div>
        <div class="col-6">
            {{ form_row(form.perCustomerUsageLimit) }}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            {{ form_row(form.reusableFromCancelledOrders) }}
        </div>
        <div class="col-6">
            {{ form_row(form.expiresAt) }}
        </div>
    </div>
    {{ form_row(form._token) }}
    <style>
        .ui .form-check{
            padding-left: 0;
        }
    </style>
    {{ form_end(form) }}
{% endblock %}
