{% extends '@EasyShop/front/Account/layout.html.twig' %}

{% form_theme form '@EasyShop/front/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.change_password'|trans }} | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <nav id="easy_seo-breadcrumbs" style="--bs-breadcrumb-divider: '{{ easy_seo_breadcrumb.separator }}';" aria-label="breadcrumb">
        <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="{{ easy_seo_breadcrumb.class }}">
            <li itemprop="itemListElement" class="{{ easy_seo_breadcrumb.item_class }}" aria-current="page" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ path('sylius_shop_homepage') }}" class="{{ easy_seo_breadcrumb.link_class }}">
                    <span itemprop="name">{{ 'sylius.ui.home'|trans }}</span>
                </a>
            </li>

            <li itemprop="itemListElement" class="{{ easy_seo_breadcrumb.item_class }}" aria-current="page" itemscope itemtype="http://schema.org/ListItem">
                <a itemprop="item" href="{{ path('sylius_shop_account_dashboard') }}" class="{{ easy_seo_breadcrumb.link_class }}">
                    <span itemprop="name">{{ 'sylius.ui.my_account'|trans }}</span>
                </a>
            </li>

            <li itemprop="itemListElement" class="{{ easy_seo_breadcrumb.item_class }} {{ easy_seo_breadcrumb.current_class }}" aria-current="page" itemscope itemtype="http://schema.org/ListItem">
            <span itemprop="item" class="{{ easy_seo_breadcrumb.link_class }}">
                <span itemprop="name">{{ 'sylius.ui.change_password'|trans }}</span>
            </span>
            </li>
        </ol>
    </nav>
{% endblock %}

{% block subcontent %}
    <div class="d-block">
        {{ form_start(form, {'action': path('sylius_shop_account_change_password'), 'attr': {'class': 'loadable form', 'novalidate': 'novalidate'}}) }}

        <h1>
            {{ 'sylius.ui.change_password'|trans }}
        </h1>
        <p class="fs-5 col-md-8">
            {{ 'sylius.ui.set_a_new_password_for_your_account'|trans }}
        </p>

        {{ sylius_template_event('sylius.shop.account.change_password.after_content_header', {'form': form}) }}

        {{ form_row(form.currentPassword, sylius_test_form_attribute('current-password')) }}
        {{ form_row(form.newPassword.first, sylius_test_form_attribute('new-password')) }}
        {{ form_row(form.newPassword.second, sylius_test_form_attribute('confirmation-new-password')) }}

        {{ sylius_template_event('sylius.shop.account.change_password.form', {'form': form}) }}

        <button type="submit" {{ sylius_test_html_attribute('save-changes') }} class="btn btn-primary">{{ 'sylius.ui.save_changes'|trans }}</button>
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
