{% extends '@EasyShop/front/layout.html.twig' %}

{% form_theme form '@EasyShop/front/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.reset_password'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="ui hidden divider"></div>
    <div class="ui three column centered stackable grid">
        <div class="column">
            <h1>
                {{ 'sylius.ui.reset_password'|trans }}
            </h1>
            <p class="fs-5 col-md-8">
                {{ 'sylius.ui.set_a_new_password_for_your_account'|trans }}
            </p>
            <div class="ui segment">
                {{ form_start(form, {'action': path('easy_shop_password_reset', {'token' : user.passwordResetToken}), 'attr': {'class': 'loadable form', 'novalidate': 'novalidate'}}) }}
                {{ form_row(form.password.first, sylius_test_form_attribute('password-reset-new')|merge({'label': 'sylius.form.user_reset_password.new'|trans})) }}
                {{ form_row(form.password.second, sylius_test_form_attribute('password-reset-confirmation')|merge({'label': 'sylius.form.user_reset_password.confirmation'|trans})) }}
                {{ form_row(form._token) }}
                <button type="submit" class="btn btn-primary" {{ sylius_test_html_attribute('login-password-reset-button') }}>
                    {{ 'sylius.ui.reset'|trans }}
                </button>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}
