{# templates/admin/business_stats/index.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title product.name ~ ' - ' ~ 'sylius.ui.manage_variants'|trans  %}

{% block content_title %}
    {%- apply spaceless -%}
        {{ product.name }}
        <small class="d-block">{{ 'sylius.ui.manage_variants'|trans }}</small>
    {%- endapply -%}
{% endblock %}

{% block page_actions %}
    <div class="global-actions">
        {% if product.hasOptions %}
            {% set generateUrl = ea_url()
                .setController(ea.crud.controllerFqcn)
                .setAction('generateVariants')
                .setEntityId(product.id)
            %}
            <a href="{{ generateUrl }}" class="btn btn-secondary">{{ 'sylius.ui.generate_variants'|trans }}</a>
        {% endif %}

        {% set createUrl = ea_url()
            .setController(ea.crud.controllerFqcn)
            .setAction('createVariant')
            .setEntityId(product.id)
        %}
        <a href="{{ createUrl }}" class="btn btn-primary">{{ 'sylius.ui.create'|trans }}</a>
    </div>
    <div class="batch-actions" style="display: none">
        {% set batchDeleteUrlAction = ea_url()
            .setController(ea.crud.controllerFqcn)
            .setAction('batchDeleteVariants')
            .setEntityId(product.id)
        %}
        {% set batchDeleteUrl = ea_url()
            .setController(ea.crud.controllerFqcn)
            .setAction('batchDeleteVariants')
            .setEntityId(product.id)
        %}
        <a class="action-batchDelete btn btn-secondary pr-0 text-danger"
           href="{{ batchDeleteUrl }}"
           data-action-name="batchDelete"
           data-bs-toggle="modal"
           data-bs-target="#modal-batch-action"
           data-action-batch="true"
           data-action-url="{{ batchDeleteUrlAction }}">{{ 'sylius.ui.delete'|trans }}</a>
    </div>
{% endblock %}

{% block page_content %}

    {% if product.variants|length %}
        <table class="table datagrid mb-5">
            <thead>
                <th width="10px">
                    <div class="form-check">
                        <span><input type="checkbox" class="form-check-input form-batch-checkbox-all"></span>
                    </div>
                </th>
                <th><span>{{ "sylius.ui.name"|trans }}</span></th>
                <th><span>{{ "sylius.ui.code"|trans }}</span></th>
                <th><span>{{ "sylius.ui.enabled"|trans }}</span></th>
                <th><span>{{ "sylius.ui.inventory"|trans }}</span></th>
                <th><span>{{ "sylius.ui.position"|trans }}</span></th>
                <th width="10px">
                    <span class="sr-only">{{ 'action.entity_actions'|trans(ea.i18n.translationParameters, 'EasyAdminBundle') }}</span>
                </th>
            </thead>
            <tbody>
            {% for variant in product.variants %}
                <tr>
                    <td class="batch-actions-selector">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input form-batch-checkbox" value="{{ variant.id }}">
                        </div>
                    </td>
                    <td>{{ variant.name }}</td>
                    <td>{{ variant.code }}</td>
                    <td class="text-left field-boolean">
                        <span class="badge {{ variant.enabled == true ? 'badge-boolean-true' : 'badge-boolean-false' }}">
                            {{ (variant.enabled == true ? 'label.true' : 'label.false')|trans({}, 'EasyAdminBundle') }}
                        </span>
                    </td>
                    <td class="text-left field-boolean">
                        {% if variant.tracked == true %}
                            <span class="badge {{ variant.onHand > 0 ? 'badge-success' : 'badge-danger' }}">
                                {{ variant.onHand }} {{ 'sylius.ui.available_on_hand'|trans }}
                            </span>
                        {% else %}
                            <span class="badge badge-secondary">
                                {{ 'sylius.ui.not_tracked'|trans }}
                            </span>
                        {% endif %}
                    </td>
                    <td>{{ variant.position }}</td>
                    <td class="actions actions-as-dropdown">
                        <div class="dropdown dropdown-actions">
                            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" height="21" width="21" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
                                </svg>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                {% set editUrl = ea_url()
                                    .setController(ea.crud.controllerFqcn)
                                    .setAction('editVariant')
                                    .setEntityId(product.id)
                                    .set("variantId", variant.id)
                                %}
                                <a class="dropdown-item action-edit" href="{{ editUrl }}" data-action-name="edit">Éditer</a>
                                {% set deleteUrl = ea_url()
                                    .setController(ea.crud.controllerFqcn)
                                    .setAction('deleteVariant')
                                    .setEntityId(product.id)
                                    .set("variantId", variant.id)
                                %}
                                {% set deleteUrlAction = ea_url()
                                    .setController(ea.crud.controllerFqcn)
                                    .setAction('deleteVariant')
                                    .setEntityId(product.id)
                                    .set("variantId", variant.id)
                                %}
                                <a class="dropdown-item action-delete text-danger" formaction="{{ deleteUrlAction }}" href="{{ deleteUrl }}" data-action-name="delete"  data-bs-toggle="modal" data-bs-target="#modal-delete">Supprimer</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ include('@EasyAdmin/crud/includes/_delete_form.html.twig', with_context = false) }}
    {% else %}
        <table class="table datagrid datagrid-empty">
        <tbody>
        {% for i in 1..14 %}
            <tr class="empty-row">
                <td><span></span></td>
                <td><span></span></td>
                <td><span></span></td>
                <td><span></span></td>
                <td><span></span></td>
                <td><span></span></td>
            </tr>

            {% if 3 == loop.index %}
                <tr class="no-results">
                    <td colspan="100">
                        {{ 'datagrid.no_results'|trans(ea.i18n.translationParameters, 'EasyAdminBundle') }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% endif %}


    {{ include('@EasyAdmin/crud/includes/_batch_action_modal.html.twig', {}, with_context = false) }}

{% endblock %}
