<h1>
    {{ 'sylius.ui.summary_of_your_order'|trans }}
</h1>
{#<div class="fs-5 col-md-8 d-flex gap-2">#}
{#    <div class="item" id="sylius-order-currency-code" {{ sylius_test_html_attribute('order-currency-code') }}>#}
{#        {{ order.currencyCode }}#}
{#    </div>#}
{#    <div class="item" id="sylius-order-locale-name" {{ sylius_test_html_attribute('order-locale-name') }}>#}
{#        {{ sylius.localeCode|sylius_locale_name }}#}
{#    </div>#}
{#</div>#}
