{% extends '@EasyShop/front/layout.html.twig' %}

{% form_theme form '@EasyShop/front/Form/theme.html.twig' %}

{% import '@EasyShop/SyliusUiBundle/Macro/messages.html.twig' as messages %}

{% set header = 'sylius.ui.your_shopping_cart' %}

{% block title %}{{ header|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    {% if not cart.empty %}
        {{ sylius_template_event('sylius.shop.cart.header', {'header': header, 'cart': cart}) }}
        <div class="row">
            <div class="col-12 col-md-7">
                {{ sylius_template_event('sylius.shop.cart.items', {'cart': cart, 'form': form}) }}
            </div>
            <div class="col-12 col-md-5">
                <div class="card">
                    <div class="card-body">
                        {{ sylius_template_event('sylius.shop.cart.summary', {'cart': cart}) }}
                    </div>
                </div>
            </div>
        </div>
        {{ sylius_template_event('sylius.shop.cart.suggestions', {'cart': cart}) }}
    {% else %}
        {{ messages.info('sylius.ui.your_cart_is_empty') }}
    {% endif %}
{% endblock %}
