{% extends '@EasyShop/front/Checkout/layout.html.twig' %}

{% form_theme form '@EasyShop/front/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.shipping'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    {{ sylius_template_event(['sylius.shop.checkout.select_shipping.steps', 'sylius.shop.checkout.steps'], _context|merge({'active': 'select_shipping', 'orderTotal': order.total})) }}

    <div class="row">
        <div class="col-12 col-md-8">
            {{ sylius_template_event('sylius.shop.checkout.select_shipping.before_form', {'order': order}) }}

            {{ form_start(form, {'action': path('sylius_shop_checkout_select_shipping'), 'attr': {'class': 'loadable form', 'novalidate': 'novalidate'}}) }}
            {{ form_errors(form) }}
            <input type="hidden" name="_method" value="PUT" />

            {% include '@EasyShop/front/Checkout/SelectShipping/_form.html.twig' %}

            {{ sylius_template_event('sylius.shop.checkout.select_shipping.before_navigation', {'order': order}) }}

            {% include '@EasyShop/front/Checkout/SelectShipping/_navigation.html.twig' %}

            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-body">
                    {{ sylius_template_event(['sylius.shop.checkout.select_shipping.sidebar', 'sylius.shop.checkout.sidebar'], _context) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
