<div class="search-bar mb-3">
    <form method="get" action="{{ path('sylius_shop_product_index', {'slug': app.request.attributes.get('slug')}) }}" class="loadable form">
        <div class="input-group d-flex">
            <div class="form-outline flex-grow-1" id="searchbarTextField">
                {% for filter in products.definition.enabledFilters %}
                    {{ sylius_grid_render_filter(products, filter) }}
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary" {{ sylius_test_html_attribute('search') }}>{{ 'sylius.ui.search'|trans }}</button>
            <a href="{{ path('sylius_shop_product_index', {'slug': app.request.attributes.get('slug')}) }}" class="btn btn-danger" {{ sylius_test_html_attribute('clear') }}>
                {{ 'sylius.ui.clear'|trans }}
            </a>
        </div>
    </form>
</div>
